body {
  background-color: black;
}

.App {
  color: green;
}
.App-header {
  text-align: center;
}

.board {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 3%;
  padding: 2.5%;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  margin:auto;
  border: 3px solid darkgrey;
  background-color: black;
  padding: 2.5%;
  width: 8%;
  height: 8%;
}

.not-revealed {
  color:black;
}

.revealed {
}

.game-over {
  color: red;
}